html {
scroll-behavior: smooth;
}

body {
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6c806d;
  max-width: 375px;
  margin: 0;
  margin-left: 20px;
  margin-right: 30px;
  margin: auto;
}

/* header {
  background-color: #708b75;
  /* margin-left: 130px; */
  /* max-width: 201px;
} */

.logo-title {
  background-color: #708b75;
  max-width: 202px;
  /* padding-bottom: 30px; */
  height: 270px;
  margin-right: 5px;
}

.navigation {
  justify-content: flex-start;
  max-width: 220px;
  padding-top: 180px;
  margin-right: 40px;
}

.navigation a {
  color: #5c7a60;
  line-height: 24px;
}

.header {
  display: flex;
  flex-direction: row-reverse;
}

header h1 {
  width: 120px;
  padding-top: 30px;
  margin: 0;
  padding-left: 40px;
  padding-right: 0;
  padding-bottom: 30px;
}

a {
  font-family: 'Pompiere', cursive;
  font-size: 18px;
  text-decoration: none;
}

.logo-organic {
  width: 30px;
  padding-left: 142px;
  padding-right: 30px;
  margin-bottom: 30px;
}

main h2 {
  font-family: 'Pompiere', cursive;
  font-size: 30px;
  font-weight: 100;
  color: #5c7a60;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

main p {
  font-family: 'Thasadith', sans-serif;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

main img {
  margin-left: 10px;
  margin-top: 30px;
}

.products {
  background-image: url(../img/products.svg);
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 55px;
  max-width: 330px;
  height: 1530px;
}

div .products {
  margin: 0;
}

.beans-product {
  margin-top: 120px;
  margin-left: 175px;
  margin-right: 55px;
}

.beans {
  font-family: 'Pompiere', cursive;
  font-size: 14px;
  color: #ded9cc;
  margin-left: 135px;
  margin-right: 25px;
  text-align: center;
  line-height: 18px;
}

.flower-product {
  margin-top: 130px;
  margin-left: 185px;
  margin-right: 75px;
}

.flower {
  font-family: 'Pompiere', cursive;
  font-size: 14px;
  color: #ded9cc;
  margin-left: 155px;
  margin-right: 40px;
  text-align: center;
  line-height: 18px;
}

.button {
  display: flex;
  align-items: flex-end;
}

.visit {
  font-size: 30px;
  color: #5c7a60;
  padding-top: 316px;
  margin-left: 60px;
  /* margin-right: 100px; */
  background: none;
  border: none;
}

main h3 {
  font-family: 'Pompiere', cursive;
  font-size: 24px;
  font-weight: 100;
  color: #ded9cc;
  padding-top: 60px;
  margin-left: 145px;
  margin-bottom: 12px;
  margin-right: 35px;
}

.pumpkin {
  font-family: 'Pompiere', cursive;
  font-size: 14px;
  color: #ded9cc;
  margin-left: 150px;
  margin-right: 40px;
  text-align: center;
  line-height: 18px;
}

.pumpkin-seeds {
  width: 40px;
  margin-left: 30px;
  margin-top: 0;
}

.bean-seeds {
  width: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.shops {
  margin-left: 70px;
  margin-top: 40px;
}

.map {
  display: block;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
}

tr {
  font-family: 'Thasadith', sans-serif;
  font-size: 14px;
  align-items: center;
}

.information {
  text-indent: 14%;
}

.right-column {
  text-indent: 16%;
}

table {
  width: 100%;
}

td {
  padding-bottom: 15px;
}

.pin {
  width: 20px;
  margin: 0;
  margin-right: 5px;
}

/* footer {
  background-color: #708b75; */
  /* margin-left: 130px; */
  /* max-width: 201px; */
/* } */

.footer-rectangle {
  background-color: #708b75;
  max-width: 202px;
  padding-bottom: 200px;
  margin-right: 5px;
}

.contact {
  justify-content: flex-start;
  max-width: 180px;
  padding-top: 124px;
  margin-right: 20px;
}

.contact a {
  color: #000000;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
}

/* footer div {
  background-image: url(../img/footer.svg);
  background-size: 190px;
} */

footer h2 {
  margin-left: 0;
  margin-top: 0;
}

.logo {
  width: 60px;
  margin-left: 68px;
  margin-right: 68px;
  margin-top: 30px;
}

footer h2 {
  font-family: 'Pompiere', cursive;
  color: #5c7a60;
  font-size: 30px;
  font-weight: 100;
}

footer p {
  font-family: 'Thasadith', sans-serif;
  font-size: 14px;
}

footer a {
  font-family: 'Thasadith', sans-serif;
  font-size: 14px;
}

.packaging {
  width: 85px;
  margin-left: 200px;
  box-shadow: 10px 10px #ded9cc;
}

.photography img {
  width: 202px;
  margin-left: 0;
}

.photography {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

figcaption {
  font-family: 'Thasadith', sans-serif;
  font-size: 8px;
  font-weight: 800;
}

figure {
  margin: 0;
  margin-right: 5px;
}

.substitle {
  text-align: center;
}

/* font-family: 'Pompiere', cursive;
font-family: 'Thasadith', sans-serif; */