html {
scroll-behavior: smooth;
}

body {
  background-image: url(../img/background.svg);
  background-size: 375px;
  margin: 0;
}

header {
  background-color: #708b75;
  margin-left: 150px;
  margin-right: 30px;
}

header h1 {
  width: 120px;
  padding-top: 30px;
  margin-top: 0;
  padding-left: 36px;
  padding-right: 36px;
}

a {
  font-family: 'Thasadith', sans-serif;
  text-decoration: none;
}

.logo-organic {
  width: 30px;
  padding-left: 142px;
  padding-right: 30px;
}

/* font-family: 'Pompiere', cursive;
font-family: 'Thasadith', sans-serif; */